:root {
    --theme-color-blue: #253d8d;
    --text-color-gray: #7d8592;
    --model-height: 450px;
    --disabled-input-color: light-dark(rgba(212, 212, 212, 0.3), rgba(59, 59, 59, 0.3));
    --danger-color: #fd1212;
    --success-color: #00c300;
    --theme-color-light-blue: #0057ff;
    --theme-color-dark: #1d1c2b;
    --theme-color-dark-blue: #253d8d;
    --theme-color-orange: #e07527;
    --theme-color-light-blue-2: #8ea4e3;
    --header-height: 60px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

.main-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    padding-top: var(--header-height);
}

.padding-x {
    padding: 0 60px;
}

.clickable-text {
    color: #0057FF;
    cursor: pointer;
}

.orange-color {
    color: var(--theme-color-orange);
}

.white-color {
    color: #fff;
}

.dark-blue-color {
    color: var(--theme-color-dark-blue);
}

.unfilled-orange-btn {
    text-align: center;
    border: 0.08em solid var(--theme-color-orange);
    background-color: transparent;
    padding: 3px 15px;
    font-weight: 400;
    color: var(--theme-color-orange);
    border-radius: 50em;
    font-size: 16px;
    white-space: nowrap;
}

.filled-orange-btn {
    text-align: center;
    border: 0.08em solid var(--theme-color-orange);
    background-color: var(--theme-color-orange);
    padding: 3px 15px;
    font-weight: 400;
    color: #fff;
    border-radius: 50em;
    font-size: 16px;
    white-space: nowrap;
}

.clear-black-btn {
    text-align: center;
    border: 0.08em solid transparent;
    background-color: transparent;
    padding: 3px 15px;
    font-weight: 400;
    color: #000;
    border-radius: 50em;
    font-size: 16px;
    white-space: nowrap;
}

.header-container {
    height: var(--header-height);
}

.landing-section {
    height: calc(100vh - var(--header-height));
}

.page-text {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
}

.section-heading {
    font-size: 26px;
    font-weight: 700;
}

.bg-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.center-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal popup styles */
.contact-form-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #00000096;
    backdrop-filter: blur(3px);
    z-index: 1000;
    display: none;
}

.my-modal-component-css {
    width: 870px;
    height: var(--model-height);
    border-radius: 14px;
}

/* Header section */
.header-container {
    box-shadow: 0 1px 24px #8ca3d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #fff;
}

.header-container .logo-container {
    height: 50px;
}

.header-container .navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--theme-color-dark-blue);
    padding: 8px 20px;
    border-radius: 18px 18px 8px 8px;
}

.header-container .navbar-container .nav-item {
    padding: 0 25px;
}

.header-container .navbar-container .nav-link {
    cursor: pointer;
    margin-bottom: 0;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
}

.profile-container {
    position: relative;
}

.profile-container .user-profile-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.profile-container .user-profile-btn img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile-container .avatar-name {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    text-transform: capitalize;
}

.profile-container .avatar-role {
    font-size: 9px;
    margin: 0;
}

.profile-container .abs-container {
    position: absolute;
    top: 100%;
    right: 0;
    padding-top: 10px;
    width: 200px;
    visibility: hidden;
    transform: translateY(5px);
    opacity: 0;
    transition: all 0.2s;
}

.profile-container .abs-container .main-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 1px 24px #8ca3d8;
}

.profile-container .abs-container .main-container .signout-btn {
    background-color: transparent;
    border: 1px solid var(--danger-color);
    border-radius: 5px;
    padding: 2px 7px;
    font-size: 12px;
    color: var(--danger-color);
}

.profile-container:hover .abs-container {
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
}

.toggle-btn-container {
    display: none;
}

.mobile-navbar-container {
    display: none
}

/* Footer section */
.footer-section .main-container {
    background-color: var(--theme-color-dark-blue);
    border-radius: 30px;
    padding-bottom: 0;
    position: relative;
    z-index: 1;
}

.footer-section .main-container .content-container {
    padding: 30px;
}

.footer-section .main-container .title {
    font-size: 40px;
    color: #f8f8ff;
    text-transform: capitalize;
}

.footer-section .main-container .page-text {
    color: #f8f8ff;
}

.footer-section .main-container .bg-line {
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    background-color: #ffffff1d;
    z-index: 0;
}

.footer-section .main-container .bg-line.one {
    left: calc(16.6% * 1);
}

.footer-section .main-container .bg-line.two {
    left: calc(16.6% * 2);
}

.footer-section .main-container .bg-line.three {
    left: calc(16.6% * 3);
}

.footer-section .main-container .bg-line.four {
    left: calc(16.6% * 4);
}

.footer-section .main-container .bg-line.five {
    left: calc(16.6% * 5);
}

.footer-section .email-container .form-input {
    font-size: 16px;
    padding: 10px 20px;
    width: 500px;
    margin: auto;
    border-radius: 50em;
    border: 1px solid #fff;
    background-color: #e2e2e280;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(100%);
}

.footer-section .email-container .form-input .email-input {
    background-color: transparent;
    border: 0;
    flex: 1;
    color: #fff;
}

.footer-section .email-container .form-input .email-input:focus {
    outline: 0;
}

.footer-section .email-container .form-input .email-input::placeholder {
    color: #fff;
}

.footer-section .footer-inner-container {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.28) 0%, rgba(228, 119, 42, 0.28) 100%);
    border: 1px solid rgba(248, 248, 255, 1);
    padding: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}

.footer-section .footer-inner-container .label {
    font-size: 13px;
    font-weight: 500;
    color: #f8f8ff;
    margin-bottom: 5px;
}

.footer-section .footer-inner-container .content {
    font-size: 13px;
    color: #f8f8ff;
    font-weight: 400;
}

.footer-section .footer-inner-container .btn-container .social-media-btn {
    border-radius: 50%;
    min-height: 10px;
    height: 40px;
    width: 40px;
    color: #888;
    background: #fff;
    font-size: 20px;
    margin-right: 5px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-section .disclamer-container {
    padding: 5px;
    position: relative;
}

.footer-section .disclamer-container .disclamer {
    font-size: 12px;
    color: #000;
    text-align: center;
}

.footer-inner-container .grid-container {
    display: grid;
    grid-template-columns: 45% 33% auto;
}




/* Contact form Styles */

.extension-modal {
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.main-container {
    height: 100%;
    width: 100%;
}

.contact-form-container .extension-modal .contact-modal-grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.left-main-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.my-modal-component-css .logo-container {
    height: 40px;
    width: auto;
}

.my-modal-component-css .logo-container .logo {
    height: 100%;
    width: auto;
}

.my-modal-component-css .company-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    color: var(--theme-color-orange);
}

.left-main-container .form-main-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.left-main-container .form-main-container .form-title {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.left-main-container .form-main-container .form-input {
    margin-bottom: 8px;
    font-size: 14px;
}

.left-main-container .form-main-container .form-input .input,
.left-main-container .form-main-container .form-input .input {
    border: 0;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #f8f8ff;
    font-size: 13px;
    width: 100%;
    transition: all 0.2s;
}

.left-main-container .form-main-container .form-input .input:focus,
.left-main-container .form-main-container .form-input .input:focus {
    outline: none;
}

.left-main-container .form-main-container .form-input .input-password {
    --padding-start: 10px;
    --highlight-color-focused: none;
    --highlight-color-valid: none;
    --highlight-color-invalid: none;
}

.left-main-container .form-main-container .form-input .clickable-text {
    font-size: 12px;
}

.left-main-container .form-main-container .form-input .submit-btn {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 50em;
    background-color: var(--theme-color-blue);
    color: #fff;
    font-size: 14px;
    border: 0;
}

.left-main-container .form-main-container .form-input .text {
    font-size: 14px;
}

.left-main-container .form-main-container .form-input.invalid-input .input {
    box-shadow: 0 0 10px #dc354559;
}

.right-main-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.right-main-container .title-container .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 3px;
    color: #fff;
}

.right-main-container .title-container .sub-text {
    font-size: 13px;
    margin-bottom: 0;
    color: #fff;
}

.right-main-container .img-container {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 50px;
    position: relative;
    padding-top: 0;
}

.right-main-container .img-container .img {
    width: 100%;
}

.right-main-container .img-container .circles-1-gif {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 120px;
}

.right-main-container .img-container .circles-2-gif {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 100px;
}

.right-main-container .img-container .arrow-gif {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 140px;
}

.modal-close-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 23px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid gray;
}

/* Response modal styles */
.response-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #00000096;
    backdrop-filter: blur(3px);
    z-index: 1000;
    display: none;
}

.response-popup-container .response-modal {
    position: relative;
}

.response-popup-container .response-modal .title-container {
    width: 100%;
    text-align: center;
    background-color: rgb(243, 243, 243);
    padding: 5px 20px;
    border-radius: 10px 10px 0 0;
}

.response-popup-container .response-modal .title-container .title {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
}

.response-popup-container .response-modal .message-container {
    padding: 10px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    max-width: 300px;
}

.response-popup-container .response-modal .message-container .message {
    margin-bottom: 0;
    font-size: 15px;
    text-align: left;
}

.response-popup-container .modal-close-btn {
    font-size: 17px;
    width: 30px;
    height: 30px;
}


/********************* whatsapp container */
.whatsapp-container {
    position: fixed;
    z-index: 99;
    bottom: 0;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.call-now-abs-container{
    position: fixed;
    z-index: 99;
    right: 0px;
    bottom: auto;
    top: var(--header-height);
    width: auto;
    height: 45px;
    background-color: transparent;
}

.whatsapp-container i {
    font-size: 40px;
    color:#25D366;
    display: inline-block;
    animation: whatsappbeat 1.5s infinite;
}

.call-now-abs-container .call-now-btn{
    border-radius: 3px;
    padding: 2px 10px;
    transition: all 0.5s;
    font-size: 16px;
}
.call-now-abs-container .call-now-btn a{
    color: inherit;
    text-decoration: none;
}
.call-now-abs-container:hover{
    right: 0;
}

@keyframes whatsappbeat {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}


/* Media querys */

/* Large laptop */
@media screen and (max-width:1400px) {}

/* Small laptop */
@media screen and (max-width:1200px) {}

/* Tablet */
@media screen and (max-width:992px) {}

@media screen and (max-width:768px) {}

/* Large mobile */
@media screen and (max-width:576px) {
    .padding-x {
        padding: 0 24px;
    }

    .page-text {
        font-size: 16px;
    }

    .section-heading {
        font-size: 30px;
    }

    .header-container .logo-container {
        height: 40px;
    }

    .header-container .sign-in-btn {
        display: none;
    }

    .navbar-main-container {
        display: none;
    }

    .toggle-btn-container {
        display: block;
    }

    .toggle-btn-container .toggle-btn {
        padding: 4px;
        border: 1px solid var(--theme-color-orange);
        border-radius: 4px;
        font-size: 21px;
        background-color: #fff;
        color: var(--theme-color-orange);
    }

    .mobile-navbar-container {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        width: 100%;
        background-color: #fff;
    }

    .mobile-navbar-container .nav-item {
        text-align: center;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid gray;
    }

    .mobile-navbar-container .nav-item .nav-link {
        font-size: 18px;
        margin-bottom: 0;
    }

    .footer-section .main-container .content-container .text-container {
        width: 100% !important;
    }

    .footer-section .main-container .title {
        font-size: 30px;
        font-weight: 600;
    }

    .footer-section .main-container .page-text {
        width: 100% !important;
    }

    .footer-section .email-container .form-input {
        width: 100%;
        transform: translateY(50%);
    }

    .footer-section .email-container .form-input .email-input {
        width: 75%;
    }

    .footer-section .main-container .content-container {
        padding: 10px;
    }

    .footer-inner-container .grid-container {
        grid-template-columns: 100%;
    }

    .footer-section .footer-inner-container {
        padding: 20px 10px;
    }

    .my-modal-component-css {
        width: 90vw;
        height: auto;
    }

    .contact-form-container .extension-modal .contact-modal-grid-container {
        grid-template-columns: 100%;
    }

    .contact-form-container .right-main-container {
        display: none;
    }
}

/* Small mobile */
@media screen and (max-width:375px) {}

@media screen and (max-width:320px) {}