.container {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* Left Panel */
.left-panel {
    /* flex: 1; */
    background: #002366;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.left-panel img {
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
}


.left-panel h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.left-panel p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 400px;
}

.left-panel .images img {
    width: 250px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

/* Right Panel */
.right-panel {
    flex: 1.2;
    padding: 40px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.form-wrapper {
    width: 60%;
    margin: auto
}

.form-wrapper h3 {
    font-size: 20px;
    margin-bottom: 25px;
}

input[type="password"] {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
    background-color: #f9f9ff;
    font-size: 14px;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-bottom: 25px;
}

.checkbox-wrapper input {
    margin-right: 8px;
}

.checkbox-wrapper a {
    color: #2b6efc;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 14px;
    background-color: #23398b;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
}



/* Close button */
/* Close button */
.close-btn {
    position: absolute;
    top: 20px;
    right: 5px;
    font-size: 24px;
    background: transparent;
    color: #333;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: -2%;
    padding: 5p
}

.close-btn:hover {
    color: red;
}

/* Download button */
.download-btn {
    font-size: 14px;
    background: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 12px;
    transition: background 0.3s;
    margin-top: -24px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.download-btn:hover {
    background: #007bff;
}



iframe {
    width: 100%;
    height: 97%;
    border: none;
}

.checkbox {
    margin-top: 20px;
}

.assistance {
    margin-top: 40px;
    font-size: 16px;
    margin-right: 2%;
    font-weight: 500;
}

.assistance h4 {
    color: #233b8b;
    ;
    /* margin-bottom: 5px; */
    /* margin-bottom: 5px; */
    font-size: 20px;
    font-weight: 700;
}


.assistance .contact {
    color: #233b8b;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 5px;
}

.assistance p {
    font-size: 16px;
    font-weight: 500;

}


.assistance p {
    font-size: 16px;
    font-weight: 500;

}