.landing-section {
    width: 100%;
    background-image: url('/assets/images/home/landing-section-bg.png');
    background-position: left;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.inner-container-1 {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.inner-container-1 .landing-main-title {
    font-weight: 700;
    font-size: 50px;
}
.inner-container-2 {
    width: 65%;
}
.features-section {
    background-color: var(--theme-color-light-blue-2);
    border-radius: 25px;
    width: 100%;
    height: 100%;
}
.features-section .features-headings-main-container {
    border-left: 1px solid #fff;
    padding-left: 30px;
    width: 30%;
}
.features-section .features-headings-main-container .single-feature-container {
    padding: 15px;
    border: 2px solid var(--theme-color-dark-blue);
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 5px;
    transition: all 0.3s linear;
    cursor: pointer;
}
.features-section .features-headings-main-container .single-feature-container .title {
    color: var(--theme-color-dark-blue);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 3px;
    line-height: 22px;
}
.features-section .features-headings-main-container .single-feature-container .sub-text {
    color: var(--theme-color-dark-blue);
    font-size: 12px;
    margin-bottom: 0px;
}
.slick-current .single-feature-container{
    background-color: var(--theme-color-dark-blue) !important;
}
.slick-current .single-feature-container .title, .slick-current .single-feature-container .sub-text{
    color: #fff !important;
}
.features-section .feature-details-main-container {
    width: 70%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.features-section .feature-details-main-container .img-container {
    width: 100%;
}
.features-section .feature-details-main-container .img-container .img {
    width: 100%;
    border: 7px solid #f8f8ff;
    border-radius: 5px;
}

.feature-details-carousel .carousel-item{
    transition: all 0.7s ease ;
    opacity: 0;
    transform: translateY(100px);
}
.feature-details-carousel .slick-current .carousel-item{
    opacity: 1;
    transform: translateY(0px);
}
.plans-section {
    background-image: url('/assets/images/home/grid-design-bg.png');
}
.plans-container {
    display: flex;
    gap: 20px;
    width: 100%;
}
.plans-container .carousel-item{
    padding: 0 10px;
}
.plans-container .plan-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffd9bd;
    border-radius: 20px;
    padding: 15px;
    height: 530px;
}
.plans-container .plan-item .title {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
    padding: 8px 10px;
    border-radius: 20px 20px 20px 0;
    background-color: var(--theme-color-orange);
}
.plans-container .plan-item .sub-title {
    font-weight: 600;
    font-size: 14px;
}
.plans-container .plan-item .check-list .check-item {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}
.plans-container .plan-item .check-list .page-text {
    font-size: 14px;
    margin-left: 14px;
}
.plans-container .plan-item .pricing-details {
    margin-top: 10px;
}
.plans-container .plan-item .pricing-details .text {
    color: var(--theme-color-dark-blue);
    font-weight: 500;
    margin-bottom: 3px;
    font-size: 12px;
}
.plans-container .plan-item .pricing-details .text-xl {
    font-size: 24px;
    font-weight: 700;
}
.plans-container .plan-item .buy-now-btn {
    border: 1px solid var(--theme-color-dark-blue);
    border-radius: 5px;
    background-color: transparent;
    color: var(--theme-color-dark-blue);
    font-size: 16px;
    font-weight: 600;
    padding: 4px 6px;
}
.ai-features-banner {
    background: linear-gradient(109.99deg, #0057ff -7.67%, rgba(10, 52, 149, 0.9) 32.84%, #ffc8a0 79.91%, #fbceae 103.13%, #0a3495 108.06%);
    width: 100%;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.ai-features-banner .title {
    font-weight: 600;
    margin-bottom: 10px;
}
.ai-features-banner .grid-container{
    display: grid;
    grid-template-columns: 60% 40%;
}
.services-section {
    background-color: #ffd9bd;
    border-radius: 25px;
    background-image: url('/assets/images/home/grid-design-bg.png');
}
.services-section .service-grid .service-item {
    text-align: center;
}
.services-section .service-grid .service-item .img-container {
    width: 180px;
    height: 130px;
    margin: auto;
    border-radius: 50em;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-section .service-grid .service-item .img-container .img {
    width: 55%;
}
.services-section .service-grid .service-item .label {
    font-size: 16px;
    font-weight: 400;
}

.service-grid .service-grid-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.marquee-section {
    position: relative;
    padding: 10px 0;
    background-color: var(--theme-color-light-blue-2);
}
.marquee-section.style-two {
    padding: 50px 0;
}
.marquee-section .marquee {
    position: relative;
    --duration: 35s;
    --gap: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    gap: var(--gap);
}
.marquee-section .marquee-group {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    -webkit-animation: scroll var(--duration) linear infinite;
    animation: scroll var(--duration) linear infinite;
}
.marquee-section .line-text {
    position: relative;
    font-size: 70px;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
}
.marquee-section .middot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--theme-color-dark-blue);
    margin-left: 30px;
    margin-right: 30px;
}
@media (prefers-reduced-motion: reduce) {
    .marquee-section .marquee-group {
        -webkit-animation-play-state: play;
        animation-play-state: play;
   }
}
@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
   }
    100% {
        -webkit-transform: translateX(calc(-100% - var(--gap)));
        transform: translateX(calc(-100% - var(--gap)));
   }
}
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
   }
    100% {
        -webkit-transform: translateX(calc(-100% - var(--gap)));
        transform: translateX(calc(-100% - var(--gap)));
   }
}
.faq-section .title-container .title {
    color: var(--theme-color-dark-blue);
}
.faq-section .faqs-list-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.faq-section .faqs-list-container .faq-item {
    width: 47%;
    padding: 10px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #e4e6e9;
}
.faq-section .faqs-list-container .faq-item .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.faq-section .faqs-list-container .faq-item .title-container .title {
    color: var(--theme-color-dark-blue);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}
.faq-section .faqs-list-container .faq-item .title-container .toggle-btn {
    color: var(--theme-color-dark-blue);
    width: 25px;
    height: 25px;
    font-size: 14px;
    background-color: #ececec;
    border-radius: 50%;
    border: 0;
    justify-content: center;
    align-items: center;
}
.faq-section .faqs-list-container .faq-item .answer-container .text {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 10px;
}
.faq-section .show-more-text {
    font-size: 14px;
}
.faq-section .expand-all-btn{
    font-size: 14px;
}
.cta-container-1 .main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid var(--theme-color-dark-blue);
    border-radius: 10px;
}
.cta-container-1 .main-container .content-container {
    flex: 1;
}
.cta-container-1 .main-container .content-container .title {
    font-size: 45px;
    font-weight: 700;
    color: var(--theme-color-dark-blue);
}
.cta-container-1 .main-container .img-container {
    height: 170px;
    width: auto;
    opacity: 0.2;
    padding: 10px;
}
.cta-container-1 .main-container .img-container .img {
    height: 100%;
    width: auto;
}



/* Media querys */

/* Large laptop */
@media screen and (max-width:1400px) {
}
/* Small laptop */
@media screen and (max-width:1200px) {
}
/* Tablet */
@media screen and (max-width:992px) {
}
@media screen and (max-width:768px) {  
}
/* Large mobile */
@media screen and (max-width:576px) {  
    .landing-section{
        height: auto;
    }
    .landing-section .main-container{
        flex-direction: column;
    }

    .landing-section .inner-container-1{
        width: 100%;
    }
    .landing-section .inner-container-2{
        width: 100%;
    }
    .landing-section .inner-container-1 .landing-main-title{
        font-size: 40px;
    }

    .features-title-flex-container{
        flex-direction: column;
        align-items: start !important;
        margin-top: 20px;
    }
    .features-flex-container{
        flex-direction: column;
    }
    .features-section .features-headings-main-container{
        border-left: 0;
        width: 100%;
        padding-left: 0;
    }
    .features-section .feature-details-main-container{
        width: 100%;
        padding-left: 0;
    }

    .plans-container .plan-item{
        height: 500px;
    }

    .ai-features-banner .grid-container{
        grid-template-columns: 100%;
    }

    .service-grid .service-grid-container{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .services-section .service-grid .service-item .img-container {
        width: 139px;
        height: 112px;
    }
    .marquee-section .marquee{
        --duration: 20s;
    }
    .marquee-section .line-text{
        font-size: 35px;
    }
    .services-heading-container{
        width: 100% !important;
    }
    .faq-section .faqs-list-container .faq-item{
        width: 100%;
    }
    .cta-container-1 .main-container{
        flex-direction: column;
        align-items: center;
    }
    .cta-container-1 .main-container .content-container .title{
        font-size: 30px;
    }
}
/* Small mobile */
@media screen and (max-width:375px) {
}
@media screen and (max-width:320px) {
}